/*
Este archivo trata sobre como se tratan los fondos y se explica en la parte 04:50:29 
*/

/* 
    Created on : 7 ene 2025, 20:32:34
    Author     : gueko
*/
body{
    background-color: #0f0;
        
}

.box{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #f3e1;
    background-image: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_light_color_272x92dp.png);
    
    /*background-size: 100%;*/
   /* background-size: contain;*/
   background-size: 40px;
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-repeat: repeat-x;
    
    
    /*position: absolute;
    top:0;*/
    
    
}
